 {% extends 'base.html' %}
 {% block content %}


            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task.name}}</h5>
                    <h6>{{task.priority}}</h6>
                    <p>{{task.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
                    <a class="btn" href="{% url 'update' task.id %}" style="background-color:aqua;">update</a>
                </div>
            </div>

 {% endblock %}