{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <br>
                    <h1 style="color:white;">TODO APP</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="p-3 shadow" style="background-color:white;">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="Taskname">
            </div> <br>

            <div class="form-group">
                <input type="text" class="form-control" name="priority" placeholder="Enter your priority">
            </div> <br>

            <div class="form-group">
                <input type="date" class="form-control" name="date" placeholder="Enter the date">
            </div> <br>

            <div class="text-center">
            <input type="submit" class="btn btn-success"> <br>
            </div>
        </form>
        </div>
        <div class="col-md-6">
            <h4>Task to be Completed</h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <h6>{{i.priority}}</h6>
                    <p>{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn" href="{% url 'update' i.id %}" style="background-color:aqua;">update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

</div>



{% endblock %}
